.btn {
  border-radius: 80px;
}
body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4.375rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.375rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.96875rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.71875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.9rem;
    font-size: calc( 1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 1.5625rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #fedb01 !important;
}
.bg-success {
  background-color: #eff0f6 !important;
}
.bg-info {
  background-color: #3f69ff !important;
}
.bg-warning {
  background-color: #ff9417 !important;
}
.bg-danger {
  background-color: #179eff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a89101 !important;
  border-color: #a89101 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #a89101 !important;
  border-color: #a89101 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-info,
.btn-info:active {
  background-color: #3f69ff !important;
  border-color: #3f69ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0033e7 !important;
  border-color: #0033e7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0033e7 !important;
  border-color: #0033e7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #eff0f6 !important;
  border-color: #eff0f6 !important;
  color: #535c93 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b8bcd7 !important;
  border-color: #b8bcd7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #535c93 !important;
  background-color: #b8bcd7 !important;
  border-color: #b8bcd7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9417 !important;
  border-color: #ff9417 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #bf6700 !important;
  border-color: #bf6700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #bf6700 !important;
  border-color: #bf6700 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #179eff !important;
  border-color: #179eff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #006fbf !important;
  border-color: #006fbf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #006fbf !important;
  border-color: #006fbf !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fedb01;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a89101 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3f69ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0033e7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3f69ff !important;
  border-color: #3f69ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eff0f6;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b8bcd7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #535c93 !important;
  background-color: #eff0f6 !important;
  border-color: #eff0f6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9417;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #bf6700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9417 !important;
  border-color: #ff9417 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #179eff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #006fbf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #179eff !important;
  border-color: #179eff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fedb01 !important;
}
.text-secondary {
  color: #8c8c95 !important;
}
.text-success {
  color: #eff0f6 !important;
}
.text-info {
  color: #3f69ff !important;
}
.text-warning {
  color: #ff9417 !important;
}
.text-danger {
  color: #179eff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #3f69ff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #3f69ff !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3f69ff !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #002fd8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #3f69ff !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #3f69ff !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #3f69ff !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #3f69ff !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.3s;
  /*position: relative;
        background-image: linear-gradient(currentColor 50%, currentColor 50%);
        background-size: 10000px 2px;
        background-repeat: no-repeat;
        background-position: 0 1.2em;*/
  text-decoration: underline;
}
.nav-tabs .nav-link.active {
  color: #fedb01;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3f69ff;
}
.alert-warning {
  background-color: #ff9417;
}
.alert-danger {
  background-color: #179eff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fedb01;
  border-color: #fedb01;
  color: #191600;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff2e3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e3f3ff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fedb01 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #fedb01;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fedb01;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fedb01;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fedb01;
  border-bottom-color: #fedb01;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fedb01 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #8c8c95 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fedb01' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.container {
  max-width: 1220px;
}
a {
  transition: color 300ms ease !important;
  font-weight: 400 !important;
}
a.text-primary:hover {
  color: #3f69ff !important;
}
a.text-secondary:hover {
  color: #3f69ff !important;
}
a.text-success:hover {
  color: #3f69ff !important;
}
a.text-info:hover {
  color: #3f69ff !important;
}
a.text-warning:hover {
  color: #3f69ff !important;
}
a.text-danger:hover {
  color: #3f69ff !important;
}
a.text-white:hover {
  color: #3f69ff !important;
}
a.text-black:hover {
  color: #3f69ff !important;
}
.btn.btn-primary:hover {
  background-color: #14142b !important;
  border-color: #14142b !important;
  color: #ffffff !important;
}
.btn.btn-secondary {
  background: transparent !important;
  border: 1px solid #e2e3e9 !important;
  color: #14142b !important;
}
.btn.btn-secondary:hover {
  background: #e2e3e9 !important;
  color: #14142b !important;
}
.btn,
.btn-lg {
  box-shadow: none !important;
}
body {
  line-height: 1.667em;
  line-height: 30px;
}
.btn,
.btn-lg {
  margin-top: 0;
  margin-bottom: 0;
}
span.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
span.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
button {
  background-color: transparent;
  border-color: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.cid-sLnAdR3yuN .navbar-dropdown {
  position: relative !important;
}
.cid-sLnAdR3yuN .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLnAdR3yuN .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sLnAdR3yuN .dropdown-item:hover,
.cid-sLnAdR3yuN .dropdown-item:focus {
  color: #fedb01 !important;
}
.cid-sLnAdR3yuN .nav-dropdown .link {
  padding: 0 0em !important;
  font-weight: 400;
}
.cid-sLnAdR3yuN .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sLnAdR3yuN .nav-link {
  position: relative;
  padding: 0;
}
.cid-sLnAdR3yuN .container {
  display: flex;
  margin: auto;
}
.cid-sLnAdR3yuN .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sLnAdR3yuN .dropdown-menu,
.cid-sLnAdR3yuN .navbar.opened {
  background: #ffffff !important;
}
.cid-sLnAdR3yuN .nav-item:focus,
.cid-sLnAdR3yuN .nav-link:focus {
  outline: none;
}
.cid-sLnAdR3yuN .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sLnAdR3yuN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sLnAdR3yuN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sLnAdR3yuN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLnAdR3yuN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sLnAdR3yuN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sLnAdR3yuN .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sLnAdR3yuN .navbar.opened {
  transition: all 0.3s;
}
.cid-sLnAdR3yuN .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sLnAdR3yuN .navbar .navbar-logo img {
  width: auto;
}
.cid-sLnAdR3yuN .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sLnAdR3yuN .navbar.collapsed {
  justify-content: center;
}
.cid-sLnAdR3yuN .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sLnAdR3yuN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sLnAdR3yuN .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sLnAdR3yuN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sLnAdR3yuN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sLnAdR3yuN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sLnAdR3yuN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sLnAdR3yuN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sLnAdR3yuN .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sLnAdR3yuN .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sLnAdR3yuN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sLnAdR3yuN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sLnAdR3yuN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sLnAdR3yuN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sLnAdR3yuN .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sLnAdR3yuN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sLnAdR3yuN .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sLnAdR3yuN .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sLnAdR3yuN .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sLnAdR3yuN .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sLnAdR3yuN .navbar.navbar-short {
  min-height: 60px;
}
.cid-sLnAdR3yuN .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sLnAdR3yuN .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sLnAdR3yuN .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sLnAdR3yuN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sLnAdR3yuN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sLnAdR3yuN .dropdown-item.active,
.cid-sLnAdR3yuN .dropdown-item:active {
  background-color: transparent;
}
.cid-sLnAdR3yuN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sLnAdR3yuN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sLnAdR3yuN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sLnAdR3yuN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sLnAdR3yuN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sLnAdR3yuN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sLnAdR3yuN ul.navbar-nav {
  flex-wrap: wrap;
  padding-left: 20px;
}
.cid-sLnAdR3yuN .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sLnAdR3yuN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sLnAdR3yuN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sLnAdR3yuN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sLnAdR3yuN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLnAdR3yuN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLnAdR3yuN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sLnAdR3yuN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLnAdR3yuN nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sLnAdR3yuN nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sLnAdR3yuN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLnAdR3yuN .navbar-dropdown {
  padding: 19px 1rem;
}
.cid-sLnAdR3yuN a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sLnAdR3yuN .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
  min-width: 340px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sLnAdR3yuN .navbar {
    height: 70px;
  }
  .cid-sLnAdR3yuN .navbar.opened {
    height: auto;
  }
  .cid-sLnAdR3yuN .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sLnAdR3yuN a {
  display: inline;
}
.cid-sLnAdR3yuN img {
  display: inline;
  padding-right: 10px;
}
.cid-sLnAdR3yuN .dropdown-toggle:after {
  display: none;
}
.cid-sLnAdR3yuN .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sLnAdR3yuN .dropdown-item:hover {
  color: #3f69ff !important;
}
@media (max-width: 990px) {
  .cid-sLnAdR3yuN .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sLnAdR3yuN .nav-dropdown .link {
    margin: 0 !important;
  }
}
.cid-sLnAdR3yuN .mbr-buttons {
  margin: 20px -6px 20px;
}
.cid-sLnAdR3yuN .nav-item {
  margin-right: 32px;
}
.cid-sLnAdR3yuN .nav-item:last-child {
  margin-right: 0;
}
@media (max-width: 970px) {
  .cid-sLnAdR3yuN ul li {
    height: 45px;
    display: list-item;
  }
}
.cid-sLnAdR3yuN .navbar-collapse.collapsing .nav-item {
  height: 45px;
}
.cid-sLnAdR3yuN .navbar-collapse.collapse.show .nav-item {
  height: 45px;
}
.cid-sLnAdR3yuN .navbar-nav {
  margin: auto;
}
.cid-sLnAdR3yuN .navbar-collapse.collapse.show ul li {
  display: list-item;
}
.cid-sLnAdR3yuN .mbr-iconfont {
  margin-left: -5px;
  margin-right: 7px;
}
.cid-sLnAdR3yuN .btn {
  padding: 1rem 1.5625rem !important;
  display: inline-block;
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
.cid-sLnAdR3yuN .btn {
  border-radius: 1000px !important;
}
.cid-sLnAdR3yuN .navbar.collapsed .icons-menu {
  display: flex;
  flex-direction: column;
}
.cid-sLnAdR3yuN .navbar.collapsed .icons-menu .top {
  margin-top: 15px;
}
.cid-sLnAdR3yuN .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sLnAdR3yuN .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.cid-sLnAdR3yuN .dropdown-item:focus {
  color: #3f69ff !important;
}
@media (max-width: 945px) {
  .cid-sLnAdR3yuN .icons-menu {
    display: flex;
    flex-direction: column;
  }
  .cid-sLnAdR3yuN .top {
    margin-top: 25px;
  }
}
.cid-sLnAdR3yuN .btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
@media (min-width: 992px) {
  .cid-sLnAdR3yuN .container,
  .cid-sLnAdR3yuN .container-fluid {
    flex-wrap: nowrap;
  }
}
.cid-sLnAdR3yuN li:last-child {
  margin-right: 0;
}
@media (max-width: 989px) {
  .cid-sLnAdR3yuN ul.navbar-nav {
    padding-left: 0;
  }
}
@media (max-width: 430px) {
  .cid-sLnAdR3yuN .icons-menu {
    min-width: initial !important;
  }
  .cid-sLnAdR3yuN a.btn {
    margin-top: 10px;
  }
}
.cid-sLnAdR3yuN a.btn > span {
  margin-left: 0.5rem;
}
.cid-sLnAegPcbM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background2-1170x780.jpg");
}
.cid-sLnAegPcbM .mbr-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  line-height: 1.171em;
  color: #14142b;
}
.cid-sLnAegPcbM .mbr-text {
  color: #8c8c95;
  margin-bottom: 26px;
  text-align: center;
}
.cid-sLnAegPcbM .button-align {
  text-align: center;
}
.cid-sLnAegPcbM .mbr-section-btn {
  display: block;
}
.cid-sLnAegPcbM .container {
  max-width: 739px;
}
.cid-sLnAegPcbM .btn {
  margin-top: 20px;
}
.cid-sLnAegPcbM a.btn > span {
  margin-left: 0.5rem;
}
.cid-sLycMSsHZs {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-sLycMSsHZs .row {
  align-items: center;
  justify-content: space-between;
}
.cid-sLycMSsHZs .mbr-section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  color: #14142b;
}
.cid-sLycMSsHZs .mbr-text {
  color: #8c8c95;
  margin-bottom: 32px;
}
.cid-sLycMSsHZs .mbr-section-btn {
  width: auto;
  display: block;
}
.cid-sLycMSsHZs ul {
  padding-inline-start: 20px;
  margin-bottom: 28px;
}
.cid-sLycMSsHZs li::marker {
  color: #8c8c95;
  width: 10px;
}
.cid-sLycMSsHZs li {
  margin-bottom: 7px;
  color: #14142b;
}
.cid-sLycMSsHZs img {
  width: 90%;
}
.cid-sLycMSsHZs .gray {
  background-color: #eff0f6;
  width: 80%;
  height: 430px;
  margin: auto;
  position: relative;
}
.cid-sLycMSsHZs .b {
  max-width: 598px;
}
.cid-sLycMSsHZs .first {
  position: absolute;
  top: -10%;
  right: 25%;
}
.cid-sLycMSsHZs .second {
  position: absolute;
  bottom: -10%;
  left: 25%;
}
@media (max-width: 992px) {
  .cid-sLycMSsHZs .t {
    padding-top: 90px;
  }
  .cid-sLycMSsHZs .b {
    max-width: initial;
  }
  .cid-sLycMSsHZs .gray {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .cid-sLycMSsHZs .gray {
    height: 330px;
  }
}
@media (max-width: 630px) {
  .cid-sLycMSsHZs .gray {
    height: 230px;
  }
}
@media (max-width: 450px) {
  .cid-sLycMSsHZs .gray {
    height: 200px;
    width: 70%;
  }
}
.cid-sLycMSsHZs .btn {
  margin-top: 20px;
}
.cid-sLycMSsHZs .t {
  max-width: 542px;
}
.cid-sLnAgot4gp {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background2-1170x780.jpg");
}
.cid-sLnAgot4gp .mbr-section-title {
  margin-bottom: 56px;
}
.cid-sLnAgot4gp .display-4 > .mbr-iconfont {
  font-size: 16px;
}
.cid-sLnAgot4gp .shadow {
  border-radius: 30px;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07) !important;
  transition: all 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  overflow: visible;
}
.cid-sLnAgot4gp .wrap-img {
  transition: all 300ms ease !important;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0px, 0px);
}
.cid-sLnAgot4gp .inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.cid-sLnAgot4gp .shadow:hover {
  transform: translate(0px, -6px);
  box-shadow: 0 10px 20px 0 rgba(8, 15, 52, 0.1) !important;
}
.cid-sLnAgot4gp .shadow:hover a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption),
.cid-sLnAgot4gp .shadow:hover .mbr-iconfont,
.cid-sLnAgot4gp .shadow:hover .number,
.cid-sLnAgot4gp .shadow:hover .card-title {
  color: #3f69ff !important;
}
.cid-sLnAgot4gp .shadow:hover .inner {
  transform: scale(1.1);
}
.cid-sLnAgot4gp .card-title {
  margin-bottom: 10px;
}
.cid-sLnAgot4gp .card-title span,
.cid-sLnAgot4gp .card-title .number {
  transition: 0.35s;
}
.cid-sLnAgot4gp .card-text {
  margin-bottom: 32px;
  color: #8c8c95;
}
@media (min-width: 575px) and (max-width: 990px) {
  .cid-sLnAgot4gp .card-wrapper {
    padding: 60px 30px 40px;
  }
}
@media (max-width: 574px) {
  .cid-sLnAgot4gp .card-wrapper {
    padding: 60px 30px 40px;
  }
}
.cid-sLnAgot4gp H3 {
  color: #14142b;
  text-align: center;
}
.cid-sLnAgot4gp img {
  width: auto;
  height: 70px;
}
.cid-sLnAgot4gp .card-wrapper {
  border-radius: 0 0 30px 30px;
  background-color: #ffffff;
  padding: 37px 32px 43px;
}
.cid-sLnAgot4gp .mbr-iconfont {
  transition: 0.3s;
  margin-right: 5px;
}
.cid-sLnAgot4gp .link-title {
  display: inline-block;
}
.cid-sLnAgot4gp .episode {
  color: #ffffff;
}
.cid-sLnAgot4gp .img-title {
  color: #ffffff;
}
.cid-sLnAgot4gp .margin {
  margin-right: 14px;
}
.cid-sLnAgot4gp .button-align {
  margin-top: 56px;
  text-align: center;
}
.cid-sLnAgot4gp .mbr-section-btn {
  width: auto;
  display: inline;
}
@media (max-width: 500px) {
  .cid-sLnAgot4gp .button-align {
    display: flex;
    flex-direction: column;
  }
  .cid-sLnAgot4gp .margin {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .cid-sLnAgot4gp .card-wrapper {
    padding: 24px 25px 34px 25px;
  }
}
.cid-sLnAgot4gp span,
.cid-sLnAgot4gp .number {
  transition: 0.35s;
}
.cid-sLnAgot4gp .item.features-image {
  margin-top: 30px;
}
.cid-sLnAgot4gp .item.features-image:nth-child(1) {
  margin-top: 0px;
}
.cid-sLnAgot4gp .item.features-image:nth-child(2) {
  margin-top: 0px;
}
.cid-sLnAgot4gp .item.features-image:nth-child(3) {
  margin-top: 0px;
}
@media (max-width: 992px) {
  .cid-sLnAgot4gp .item.features-image:nth-child(3) {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .cid-sLnAgot4gp .item.features-image:nth-child(2) {
    margin-top: 30px;
  }
}
.cid-sLnAk7zLx2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLnAk7zLx2 .mbr-section-subtitle {
  color: #8c8c95;
  text-align: left;
  margin: auto;
  margin-bottom: 24px;
}
.cid-sLnAk7zLx2 .mbr-section-title {
  text-align: left;
  color: #14142b;
  margin-bottom: 20px;
  margin-top: 40px;
}
.cid-sLnAk7zLx2 .row {
  align-items: center;
  height: 100%;
}
.cid-sLnAk7zLx2 .wrapper {
  margin: auto;
}
.cid-sLnAk7zLx2 .t1 {
  margin-bottom: 24px;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-sLnAk7zLx2 .t {
    padding-top: 20px;
  }
}
.cid-sLnAnXm4vm {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background2-1170x780.jpg");
}
.cid-sLnAnXm4vm .display-4 > .mbr-iconfont {
  font-size: 16px;
}
.cid-sLnAnXm4vm .shadow {
  border-radius: 30px;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07) !important;
  transition: all 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  overflow: visible;
  display: flex;
  flex-direction: row;
}
.cid-sLnAnXm4vm .wrap-img {
  transition: all 300ms ease !important;
  overflow: hidden;
  border-radius: 30px 0px 0 30px;
  width: 361px;
  height: 361px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0px, 0px);
}
.cid-sLnAnXm4vm .shadow:hover {
  transform: translate(0px, -6px);
  box-shadow: 0 10px 20px 0 rgba(8, 15, 52, 0.1) !important;
}
.cid-sLnAnXm4vm .shadow:hover a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption),
.cid-sLnAnXm4vm .shadow:hover .mbr-iconfont,
.cid-sLnAnXm4vm .shadow:hover .number,
.cid-sLnAnXm4vm .shadow:hover .card-title {
  color: #3f69ff !important;
}
.cid-sLnAnXm4vm .shadow:hover .inner {
  transform: scale(1.1);
}
.cid-sLnAnXm4vm .card-title {
  margin-bottom: 20px;
}
.cid-sLnAnXm4vm .title-block {
  margin-bottom: 56px;
}
.cid-sLnAnXm4vm .card-text {
  margin-bottom: 42px;
  color: #8c8c95;
}
.cid-sLnAnXm4vm H3 {
  color: #14142b;
  text-align: center;
}
.cid-sLnAnXm4vm .inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.cid-sLnAnXm4vm .card-wrapper {
  border-radius: 0 30px 30px 0px;
  background-color: #ffffff;
  padding: 60px 71px;
}
.cid-sLnAnXm4vm .mbr-iconfont {
  transition: 0.3s;
  margin-right: 5px;
}
.cid-sLnAnXm4vm .link-title {
  display: inline-block;
}
.cid-sLnAnXm4vm .episode {
  color: #ffffff;
}
.cid-sLnAnXm4vm .img-title {
  color: #ffffff;
}
.cid-sLnAnXm4vm .margin {
  margin-right: 14px;
}
.cid-sLnAnXm4vm .mbr-section-btn {
  width: auto;
  display: inline;
}
.cid-sLnAnXm4vm .button-color {
  padding: 14px 18px !important;
  border-radius: 1000px !important;
  display: inline-block;
  line-height: 20px;
  background-color: #eff0f6;
  color: #14142b;
}
.cid-sLnAnXm4vm .position {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.cid-sLnAnXm4vm .link-row,
.cid-sLnAnXm4vm .title-block {
  align-items: center;
}
.cid-sLnAnXm4vm .line {
  width: 100%;
  height: 1px;
  background-color: #e2e3e9;
  margin-bottom: 35px;
}
.cid-sLnAnXm4vm .mbr-section-title {
  color: #8c8c95;
}
@media (max-width: 900px) {
  .cid-sLnAnXm4vm .card-wrapper {
    padding: 40px 31px;
  }
}
@media (max-width: 820px) {
  .cid-sLnAnXm4vm .card-wrapper {
    padding: 25px 31px;
  }
}
@media (max-width: 1095px) {
  .cid-sLnAnXm4vm .wrap-img {
    height: 430px;
  }
}
@media (max-width: 765px) {
  .cid-sLnAnXm4vm .shadow {
    display: flex;
    flex-direction: column;
  }
  .cid-sLnAnXm4vm .title-block {
    flex-direction: column;
  }
  .cid-sLnAnXm4vm .mbr-section-subtitle {
    margin-bottom: 30px;
    text-align: center;
  }
  .cid-sLnAnXm4vm .wrap-img {
    height: 361px;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
  .cid-sLnAnXm4vm .card-wrapper {
    padding: 24px 25px 34px 25px;
  }
}
.cid-sLnAnXm4vm .card-title,
.cid-sLnAnXm4vm span {
  transition: 0.35s;
}
.cid-sLnBs9TDWB {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sLnBs9TDWB .mbr-section-subtitle {
  color: #8c8c95;
  text-align: center;
  max-width: 552px;
  margin: auto;
}
.cid-sLnBs9TDWB .mbr-section-title {
  text-align: center;
  color: #14142b;
  padding-bottom: 24px;
  max-width: 752px;
  margin: auto;
}
.cid-sLnBs9TDWB .row {
  align-items: center;
  height: 100%;
}
.cid-sLnBs9TDWB .wrapper {
  margin: auto;
}
.cid-sLnBs9TDWB .subtitle {
  display: inline;
  width: auto;
  color: #8c8c95;
}
.cid-sLnBs9TDWB .mbr-section-btn {
  display: inline;
  width: auto;
  margin-right: 25px;
}
.cid-sLnBs9TDWB .title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.cid-sLnBs9TDWB a.btn {
  padding: 16px 25px !important;
}
.cid-sLnBs9TDWB a.btn:hover {
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
  color: #000000;
}
@media (max-width: 340px) {
  .cid-sLnBs9TDWB .title-block {
    display: flex;
    flex-direction: column;
  }
  .cid-sLnBs9TDWB .mbr-section-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.cid-sLnArYcGPI {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sLnArYcGPI .right {
  display: flex;
  flex-direction: column;
}
.cid-sLnArYcGPI .card-heading {
  padding-bottom: 32px;
  color: #8c8c95;
}
.cid-sLnArYcGPI .row {
  justify-content: center;
}
.cid-sLnArYcGPI ul {
  padding-inline-start: 50px;
  margin-bottom: 0;
}
.cid-sLnArYcGPI li {
  margin-bottom: 16px;
}
.cid-sLnArYcGPI li:last-child {
  margin-bottom: 0;
}
.cid-sLnArYcGPI .list {
  color: #8c8c95;
}
.cid-sLnAuq4tc9 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLnAuq4tc9 img {
  border-radius: 0px;
}
.cid-sLnAuq4tc9 .row {
  justify-content: center;
}
.cid-sLnAuq4tc9 .mbr-section-title {
  margin-top: 24px;
  text-align: center;
  color: #8c8c95;
}
.cid-sLycRJXdNo {
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-sLycRJXdNo .item:focus,
.cid-sLycRJXdNo span:focus {
  outline: none;
}
.cid-sLycRJXdNo .item-wrapper {
  position: relative;
}
.cid-sLycRJXdNo .slide-content {
  position: relative;
  border-radius: 4px;
  background: transparent;
  height: 100%;
  display: flex;
  overflow: visible;
  flex-flow: column nowrap;
}
.cid-sLycRJXdNo .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 40%;
  max-width: 596px;
}
@media (max-width: 768px) {
  .cid-sLycRJXdNo .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
@media (max-width: 900px) {
  .cid-sLycRJXdNo .embla__slide {
    min-width: 60%;
  }
}
@media (max-width: 630px) {
  .cid-sLycRJXdNo .embla__slide {
    min-width: 375px;
  }
}
.cid-sLycRJXdNo .embla__button--next,
.cid-sLycRJXdNo .embla__button--prev {
  display: flex;
}
.cid-sLycRJXdNo .embla__button {
  transition: background-color 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  border: none;
  width: 64px;
  height: 64px;
  font-size: 22px;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.5rem;
  background-color: #14142b;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sLycRJXdNo .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-sLycRJXdNo .embla__button:hover {
  background: #3f69ff;
  color: #fff;
  transform: scale(1.05);
}
.cid-sLycRJXdNo .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sLycRJXdNo .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sLycRJXdNo .embla__button {
    top: auto;
  }
}
.cid-sLycRJXdNo .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sLycRJXdNo .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sLycRJXdNo .embla {
  position: relative;
  width: 100%;
}
.cid-sLycRJXdNo .embla__viewport {
  overflow: visible;
  width: 100%;
}
.cid-sLycRJXdNo .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-sLycRJXdNo .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-sLycRJXdNo .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-sLycRJXdNo .shadow {
  padding: 44px 32px 52px;
  border-radius: 34px;
  box-shadow: 0 5px 12px 0 rgba(20, 20, 43, 0.05) !important;
  transition: all 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  overflow: visible;
  border: 1px solid #eff0f6;
}
.cid-sLycRJXdNo .wrap-img {
  transition: all 300ms ease !important;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  height: 385px;
  padding: 20px 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0px, 0px);
}
.cid-sLycRJXdNo .wrap-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.cid-sLycRJXdNo .shadow:hover {
  transform: translate(0px, -6px);
  box-shadow: 0 10px 20px 0 rgba(8, 15, 52, 0.1) !important;
}
.cid-sLycRJXdNo .shadow:hover a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption),
.cid-sLycRJXdNo .shadow:hover .number,
.cid-sLycRJXdNo .shadow:hover .card-title {
  color: #3f69ff !important;
}
.cid-sLycRJXdNo .shadow:hover .wrap-img {
  padding: 15px 15px 30px;
}
.cid-sLycRJXdNo .shadow:hover .wrap-img::after {
  transform: scale(1.05);
}
.cid-sLycRJXdNo .card-wrapper {
  padding: 30px 15px;
  margin: 0 15px;
  width: auto;
  max-width: 100%;
  border: 1px solid #dbdbdb;
}
.cid-sLycRJXdNo .card-title {
  font-weight: 700;
  padding: 10px 20px 10px;
  color: #4c4c4c;
  text-align: left;
  text-transform: uppercase;
}
.cid-sLycRJXdNo H3 {
  color: #1d1d1f;
}
.cid-sLycRJXdNo .card-subtitle {
  text-align: left;
  color: #14142b;
}
.cid-sLycRJXdNo .iconfont-wrapper {
  text-align: left;
  margin-bottom: 16px;
}
.cid-sLycRJXdNo .card-text {
  margin-bottom: 16px;
  text-align: left;
}
.cid-sLycRJXdNo .mbr-iconfont::before {
  font-size: 25px;
}
.cid-sLycRJXdNo .button-align {
  margin-top: 36px;
  text-align: center;
}
.cid-sLycRJXdNo .mbr-section-btn {
  width: auto;
  display: inline-block;
}
.cid-sLycRJXdNo .people {
  align-items: center;
}
.cid-sLycRJXdNo img {
  border-radius: 10%;
  height: 128px;
  width: 128px;
  margin: 0;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-sLycRJXdNo .row.title-block {
    flex-direction: column;
  }
  .cid-sLycRJXdNo .mbr-section-subtitle {
    margin-bottom: 20px;
    text-align: center;
  }
  .cid-sLycRJXdNo .mbr-section-title {
    text-align: center;
  }
}
.cid-sLycRJXdNo .card-subtitle,
.cid-sLycRJXdNo .card-subtitle2 {
  display: inline;
}
@media (max-width: 1040px) {
  .cid-sLycRJXdNo .people {
    flex-direction: column;
  }
  .cid-sLycRJXdNo .card-text,
  .cid-sLycRJXdNo .align,
  .cid-sLycRJXdNo .iconfont-wrapper {
    text-align: center;
  }
  .cid-sLycRJXdNo img {
    margin-bottom: 20px !important;
  }
}
.cid-sLycRJXdNo .title-block {
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}
@media (max-width: 400px) {
  .cid-sLycRJXdNo .button-align {
    margin-top: 20px;
  }
}
.cid-sLycRJXdNo .btn {
  margin-top: 20px;
}
.cid-sLycRJXdNo a.btn > span {
  margin-left: 0.5rem;
}
@media (max-width: 767px) {
  .cid-sLycRJXdNo .shadow {
    padding-top: 40px;
    padding-bottom: 43px;
  }
}
@media (max-width: 479px) {
  .cid-sLycRJXdNo .shadow {
    padding: 33px 25px 36px;
  }
}
.cid-sLnAAnw1ly {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-sLnAAnw1ly a.btn > span {
  margin-left: 0.5rem;
}
.cid-sLnAAnw1ly .row {
  align-items: center;
  justify-content: space-between;
}
.cid-sLnAAnw1ly .mbr-section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  line-height: 1.171em;
  color: #14142b;
}
.cid-sLnAAnw1ly .mbr-section-subtitle {
  color: #14142b;
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
}
.cid-sLnAAnw1ly .mbr-text {
  color: #5f5d68;
  margin-bottom: 56px;
}
.cid-sLnAAnw1ly .right-side {
  max-width: 554px;
}
.cid-sLnAAnw1ly .mbr-section-btn {
  width: auto;
  display: inline;
}
.cid-sLnAAnw1ly .margin {
  margin-right: 14px;
}
.cid-sLnAAnw1ly .shadow {
  padding: 62px 56px 64px;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07);
  max-width: 690px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #eff0f6;
  border-radius: 24px;
  background-color: #fff;
}
.cid-sLnAAnw1ly img {
  max-width: 186px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 17px;
}
.cid-sLnAAnw1ly .card-title {
  margin-bottom: 4px;
  color: #14142b;
}
.cid-sLnAAnw1ly .card-subtitle {
  margin-bottom: 21px;
  color: #8c8c95;
}
.cid-sLnAAnw1ly .card-text {
  margin-bottom: 40px;
  color: #8c8c95;
}
.cid-sLnAAnw1ly .mbr-social-likes.big .btn-social {
  font-size: 20px;
  border-radius: 25%;
  width: 37px;
  height: 37px;
  line-height: 44px;
  margin: 0 10px 0 0 !important;
  padding: 0;
  text-align: center;
  position: relative;
  border: none !important;
  border-color: #fedb01;
  cursor: pointer;
}
.cid-sLnAAnw1ly .mbr-social-likes.big .btn-social .mbr-iconfont {
  top: 0;
  line-height: 22px;
  width: 22px;
  color: #fff;
}
.cid-sLnAAnw1ly .mbr-social-likes.big .btn-social:hover {
  color: #fff;
}
.cid-sLnAAnw1ly .mbr-social-likes.big .btn-social + .btn {
  margin-left: 0.1rem;
}
.cid-sLnAAnw1ly .r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.cid-sLnAAnw1ly .mbr-social-likes.small {
  display: flex;
}
.cid-sLnAAnw1ly .mbr-social-likes.big {
  display: block;
}
.cid-sLnAAnw1ly .mbr-social-likes.small .btn-social {
  font-size: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px !important;
  line-height: 30px;
  margin: 0 0px 0 10px !important;
  padding: 0;
  text-align: center;
  position: relative;
  border: none !important;
  border-color: #fedb01;
  cursor: pointer;
}
.cid-sLnAAnw1ly .mbr-social-likes.small .btn-social .mbr-iconfont {
  top: 0;
  line-height: 22px;
  width: 22px;
  color: #fff;
}
.cid-sLnAAnw1ly .mbr-social-likes.small .btn-social:hover {
  color: #fff;
}
.cid-sLnAAnw1ly .mbr-social-likes.small .btn-social + .btn {
  margin-left: 0.1rem;
}
.cid-sLnAAnw1ly .form-control,
.cid-sLnAAnw1ly form .btn {
  min-height: initial;
}
.cid-sLnAAnw1ly a.btn,
.cid-sLnAAnw1ly button {
  padding: 24px 40px;
  border-radius: 80px;
}
.cid-sLnAAnw1ly input {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #e2e3e9 !important;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  box-shadow: none !important;
  height: 64px;
  margin-bottom: 40px;
  padding: 8px 26px;
}
.cid-sLnAAnw1ly textarea {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #e2e3e9 !important;
  border-radius: 14px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  box-shadow: none !important;
  height: 132px;
  margin-bottom: 40px;
  padding: 20px 26px;
}
.cid-sLnAAnw1ly input:hover {
  border-color: #14142b !important;
}
.cid-sLnAAnw1ly textarea:hover {
  border-color: #14142b !important;
}
.cid-sLnAAnw1ly input:focus {
  border-color: #14142b !important;
}
.cid-sLnAAnw1ly textarea:focus {
  border-color: #14142b !important;
}
.cid-sLnAAnw1ly .form-group {
  margin-bottom: 0;
}
.cid-sLnAAnw1ly .listen {
  margin-bottom: 24px;
}
.cid-sLnAAnw1ly .phone {
  margin-bottom: 44px;
}
.cid-sLnAAnw1ly .email {
  margin-bottom: 21px;
}
.cid-sLnAAnw1ly .listen,
.cid-sLnAAnw1ly .big {
  text-align: left;
  color: #8c8c95;
}
.cid-sLnAAnw1ly .mbr-text,
.cid-sLnAAnw1ly .button-align {
  color: #8c8c95;
}
.cid-sLnAAnw1ly .email span {
  padding: 7px;
  background-color: #14142b;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 50%;
}
.cid-sLnAAnw1ly .phone span {
  padding: 7px;
  background-color: #14142b;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 50%;
}
.cid-sLnAAnw1ly select.form-control:hover {
  border-color: #14142b;
}
.cid-sLnAAnw1ly select.form-control {
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  color: #8c8c95;
  transition: border-color 300ms ease;
  min-height: 64px;
  padding-right: 26px;
  padding-left: 26px;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #e2e3e9 !important;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  display: flex;
}
.cid-sLnAAnw1ly .form-check > input {
  height: 1em;
  width: 1em;
  padding: 0;
  float: initial;
  margin-bottom: 0;
}
@media (max-width: 770px) {
  .cid-sLnAAnw1ly .shadow {
    width: 100%;
    margin-top: 60px;
    max-width: initial;
  }
  .cid-sLnAAnw1ly .left-side,
  .cid-sLnAAnw1ly .right-side {
    width: 100%;
    max-width: initial;
  }
}
@media (max-width: 992px) {
  .cid-sLnAAnw1ly .right-side {
    max-width: initial;
    margin-bottom: 50px;
  }
  .cid-sLnAAnw1ly .shadow {
    margin: auto;
  }
}
@media (max-width: 600px) {
  .cid-sLnAAnw1ly .shadow {
    padding: 25px;
  }
  .cid-sLnAAnw1ly input {
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .cid-sLnAAnw1ly .r {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .cid-sLnAAnw1ly .mbr-social-likes.small {
    margin-top: 20px;
  }
}
.cid-sLnAAnw1ly .big > .socicon-bg-youtube {
  background-color: #c4302b;
}
.cid-sLnAAnw1ly .big > .socicon-bg-facebook {
  background-color: #3e5b98;
}
.cid-sLnAAnw1ly .big > .socicon-bg-twitter {
  background-color: #4da7de;
}
.cid-sLnAAnw1ly .big > .socicon-bg-pinterest {
  background-color: #c92619;
}
.cid-sLnAAnw1ly .big > .socicon-bg-mail {
  background-color: #134785;
}
.cid-sLnAAnw1ly .small > .socicon-bg-youtube {
  background-color: #c4302b;
}
.cid-sLnAAnw1ly .small > .socicon-bg-facebook {
  background-color: #3e5b98;
}
.cid-sLnAAnw1ly .small > .socicon-bg-twitter {
  background-color: #4da7de;
}
.cid-sLnAAnw1ly .small > .socicon-bg-pinterest {
  background-color: #c92619;
}
.cid-sLnAAnw1ly .small > .socicon-bg-mail {
  background-color: #134785;
}
.cid-sLnAAnw1ly .mbr-iconfont {
  margin-right: 8px;
}
.cid-sLnABwOXFS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}
.cid-sLnABwOXFS .mbr-text {
  color: #8c8c95;
}
.cid-sLnABwOXFS .line {
  height: 1px;
  width: 100%;
  background-color: #c2c2c2;
  margin-bottom: 32px;
}
